.image-container {
    position: relative;
}

.image-container img {
    position: absolute;
    width: 100vw;
    animation-name: multiple-image-crossfade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 12s;
}

.image-container img:nth-of-type(1) {
    animation-delay: 9s;
}

.image-container img:nth-of-type(2) {
    animation-delay: 6s;
}

.image-container img:nth-of-type(3) {
    animation-delay: 3s;
}

.image-container img:nth-of-type(4) {
    animation-delay: 0s;
}

@keyframes multiple-image-crossfade {
    0% {
        opacity: 1;
    }

    17% {
        opacity: 1;
    }

    25% {
        opacity: 0;
    }

    92% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}.image-container {
    position: relative;
}

.image-container img {
    position: absolute;
    width: 100vw;
    animation-name: multiple-image-crossfade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 12s;
}

.image-container img:nth-of-type(1) {
    animation-delay: 9s;
}

.image-container img:nth-of-type(2) {
    animation-delay: 6s;
}

.image-container img:nth-of-type(3) {
    animation-delay: 3s;
}

.image-container img:nth-of-type(4) {
    animation-delay: 0s;
}

@keyframes multiple-image-crossfade {
    0% {
        opacity: 1;
    }

    17% {
        opacity: 1;
    }

    25% {
        opacity: 0;
    }

    92% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}